/*This font file is used to display the search lens*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('./back2.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    height: 100vh; /* Set the height to full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Arial', sans-serif; /* Replace 'Arial' with your chosen font */
    font-size: 36px;
    color: #333333; /* White text color for better contrast */
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

/* Search box styles: starts */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#search_box {
    flex: 1;
    width: calc(100% - 40px);
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    justify-content: center;
    color: #333;
    font-weight: bold;
    position: relative; /* Position relative for absolute positioning of pseudo-element */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

#search_box::before {
    content: '\f002'; /* Unicode for the Font Awesome search icon */
    font-family: 'Font Awesome'; /* Font family for Font Awesome icons */
    position: absolute;
    left: 10px; /* Adjust as needed to position the icon */
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Adjust the color of the search icon */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}


#search_box:focus {
    border-color: #4CAF50;
    outline: none;
}

#search_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#search_button:hover {
    background-color: #45a049;
}



#search_button i {
    margin-right: 5px;
}

/*.search {
    margin: auto;
    width: 30%;
    position: center;
    display: flex;
} */

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 32px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    /*color: #9DBFAF;*/
}

/*text color when search keyword is typed*/
.searchTerm:focus {
    color: #444;
}

/*
.searchButton {
    width: 64px;
    height: 48px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 26px;
}
*/
/* Search box style ends */

.search_container {
    text-align:center;
    margin-top: 10px;
}

.search_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    padding: 10px;
    background-color: #3498db; /* Updated background color */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

input[type="radio"]:checked + label {
    background-color: #4CAF50;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio-container {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.radio-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid #3498db;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
}

input[type="radio"]:checked + .radio-container::before {
    background-color: #4CAF50;
}

/* Selection box style starts */

/* Reset default select tag styles */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    margin-top: 8px;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50 none;
}

select {
    flex: auto;
    padding: 0 1.5em;
    color: #f7f7f7;
    cursor: pointer;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
}

/* Selection class style */
.search_selection {
    position: relative;
    display: inline-flex;
    width: 10em;
    height: 2em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

/* Drawing selection drop-down arrow
.search_selection::after {
    content: '\25BC';
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0 0.5em;
    background: #34495e;
    color: #926010;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
} */

/* Transition of drop-down arrow on hover */
/*.search_selection:hover::after {
    color: #bf7e15;
}*/

/* Selection box style starts */

/*
 * Formatting the header area
 */

header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Centering the body content
 */
.container {
    width: 1200px;
    margin: 0 auto;
}

div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

h2 {
    font-size: 3em;
    margin-top: 70px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

h4 {
    margin: 20px;
}

.menu {
    float: right;
    margin-top: 8px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    color: #444;
    text-decoration: none;
}

/*ul.red li b {*/
/*    background-color:#646464;*/
/*    !*color: #ff7225;*!*/
/*    color: red;*/
/*}*/
li.red {
    color: red
}

.response{
    display: none;
    vertical-align: top;
    width: 500px;
    border: 2px solid darkslategray;
    padding: 10px;
    max-height: 400px;
    text-align: justify;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    background-color: #fff;
    overflow-y: auto;
}


.results{
    text-align: center;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.posts {
    display: none;
    vertical-align: top;
    width: 500px;
    border: 2px solid darkslategray;
    padding: 10px;
    max-height: 400px;
    text-align: justify;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    background-color: #fff;
    overflow-y: auto;
}
.drug {
    display: none;
    vertical-align: top;
    width: 500px;
    border: 2px solid darkslategray;
    padding: 10px;
    max-height: 400px;
    text-align: justify;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    background-color: #fff;
    overflow-y: auto;
}

.drug ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding for the list */
}

.drug li {
    border-bottom: 1px solid lightgray; /* Add borders between list items */
    padding: 8px; /* Adjusted padding */
    text-align: left; /* Align text to the left in list items */
}

.drug li:last-child {
    border-bottom: none; /* Remove border from the last list item */
}

.drug a {
    color: #0066cc; /* Link color */
    text-decoration: none; /* Remove default underline */
}

.drug a:hover {
    text-decoration: underline; /* Underline on hover */
}


.disease_title{
    padding: 15px;
    display: none;
    width: 400px;
    font-size: 18px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.disease_title:hover {
    color: #004080; /* Darker color on hover */
}
.posts_title{
    padding: 15px;
    display: none;
    width: 400px;
    font-size: 18px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
.posts_title:hover {
    color: #004080; /* Darker color on hover */
}
.drug_title{
    padding: 15px;
    display: none;
    width: 400px;
    font-size: 18px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

.drug_title:hover {
    color: #004080;
}

a:hover{
    color: #004080;;
}
a:visited{
    color: royalblue;
}
.hr_line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid darkslategray;
    margin: 1em 0;
    padding: 0;
}

.posts ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding for the list */
}

.posts li {
    border-bottom: 1px solid lightgray; /* Add borders between list items */
    padding: 8px; /* Adjusted padding */
    text-align: left; /* Align text to the left in list items */
}

.posts li:last-child {
    border-bottom: none; /* Remove border from the last list item */
}

.posts a {
    color: #0066cc; /* Link color */
    text-decoration: none; /* Remove default underline */
}

.posts a:hover {
    text-decoration: underline; /* Underline on hover */
}


.response ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding for the list */
}


.response li {
    border-bottom: 1px solid lightgray; /* Add borders between list items */
    padding: 8px; /* Adjusted padding */
    text-align: left; /* Align text to the left in list items */
}

.response li:last-child {
    border-bottom: none; /* Remove border from the last list item */
}

.response a {
    color: #0066cc; /* Link color */
    text-decoration: none; /* Remove default underline */
}

.response a:hover {
    text-decoration: underline; /* Underline on hover */
}